audio {
    position: fixed;
    left: 10px;
    bottom: 10px;
}

body {
    background: black;
}

canvas {
    position: fixed;
    width: 1000px;
    height: 800px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}